<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mustad lampe</title>
    {% if title %}
    <title>{{ title }} - Mustad lampa</title>
    {% else %}
    <title>Mustad lampa</title>
    {% endif %}
    <script src="{{ url_for('static', filename='js/semantic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/html5kellycolorpicker.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
    <h1>Mustad lampa</h1>
    <div class="ui pointing menu">
        <a class="item {% if title == 'Home'%}active{% endif%}" href="/index">Introduksjon</a>
        <a class="item {% if title == 'Fargevelger'%}active{% endif%}" href="/pick_color">Fargevelger</a>
      </div>
    <div class="ui segment">
        {% block content %}{% endblock %}
    </div>
</body>
</html>