{% extends "base.html" %}

{% block content %}
<h2>Fargevelger</h2>
<p>Endre fargen på lampa ved å velge ny farge verdi og trykke på bytt farge.</p>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        <canvas id="picker"></canvas><br>
        {{ form.hexcolor(size=7) }}<br>
        {{ form.blink.label }}<br>
        {{ form.blink }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
<script>
    new KellyColorPicker({place : 'picker', input : 'color', size : 250});
  </script>
{% endblock %}
